#!/usr/bin/env python

import os

from penchy.jobs import NodeSetting

# The location of your private ssh key
ID_RSA = os.path.expanduser('~/.ssh/id_rsa')

# The default username on nodes
USERNAME = 'bench'

# Default SSH port on nodes
SSH_PORT = 22

# The hostname (or IP) of this server
SERVER_HOST = '192.168.56.1'

# The port the server will listen on
SERVER_PORT = 4343

x86NODE = NodeSetting('192.168.56.10', SSH_PORT, USERNAME, '/home/bench', '/usr/bin')
x64NODE = NodeSetting('192.168.56.11', SSH_PORT, USERNAME, '/home/bench', '/usr/bin')

LOCALNODE = NodeSetting('localhost', 22, os.environ['USER'], '/tmp', '/usr/bin')
